.hero__overlay {
  height: 400px;
  width: 100%;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  @include margin-vert-center();
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/overlay-bg-mob-x1.jpg');
  @include background();

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/overlay-bg-mob-x2.jpg');
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/overlay-bg-tab-x1.jpg');
    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/overlay-bg-tab-x2.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/overlay-bg.jpg');
    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/overlay-bg-x2.jpg');
    }
  }
}

.hero__title {
  @include font(26px, 1.61, 900, 0.06em);
  margin-bottom: 30px;
  @include margin-vert-center();
  text-transform: uppercase;
  color: var(--second-text-color);

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    max-width: 360px;
  }
  @media screen and (min-width: 1200px) {
    @include font(44px, 1.36, 900, 0.06em);
    max-width: 696px;
  }
}
