:root {
  --title-text-color: #212121;
  --nav-menu-text-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: #2196f3;
  --fourth-text-color: #000000;

  --team-social-icon-color: #afb1b8;
  --team-social-icon-hover-color: #ffffff;

  --footer-address-color: rgba(255, 255, 255, 0.6);
  --footer-social-icon-color: #ffffff;
  --footer-send-icon-color: #ffffff;
  --footer-social-bg-color: rgba(255, 255, 255, 0.1);
  --footer-border-form-color: rgba(255, 255, 255, 0.3);

  --clients-icon-color: #afb1b8;
  --clients-border-color: #afb1b8;

  --button-bg-color: #2196f3;
  --button-hover-bg-color: #188ce8;
  --main-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --about-block-bg-color: rgba(47, 48, 58, 0.8);
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --feature-bg-color: #f5f4fa;
  --team-card-bg-color: #ffffff;
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --modal-bg-color: #ffffff;
  --project-description-bg-color: rgba(33, 150, 243, 0.9);

  --porfolio-btn-color: #f5f4fa;
  --porfolio-border-card-color: #eeeeee;

  --modal-border-input-color: rgba(33, 33, 33, 0.2);
  --modal-form-placeholder-color: rgba(117, 117, 117, 0.5);
  --modal-border-checkbox-color: #212121;
  --modal-check-icon-color: #ffffff;

  --list-set-gap: 30px;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
